body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    width: 375px;
    height: 812px;
    background: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.nav-back {
    padding: 10px 20px;
    font-size: 12px;
    color: #000000;
}

.food-image-container {
    margin: 0 20px;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
}

.food-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
}

.food-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 10px 20px;
}

.food-title {
    font-family: 'Noto Serif', serif;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin: 0 0 0px 0;

}

.review-button {
    background-color: #4e93d8;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.review-button:hover {
    background-color: #357ab7;
}

.ratings {
    display: flex;
    align-items: center;
    margin: 0 20px 10px;
}

.stars {
    color: #FFD700;
}

.rating-score {
    margin-left: 10px;
    font-size: 16px;
}

.food-tags {
    font-size: 14px;
    color: #555555;
    margin: 0 20px 10px;
}

.tag {
    font-weight: bold;
    color: #007BFF;
}

.divider {
    border: none;
    border-top: 1px solid #D9D9D9;
    margin: 15px 20px;
}

.reviews-header {
    font-size: 16px;
    font-weight: bold;
    margin: 0 20px;
}

.sort-options {
    font-size: 12px;
    color: #555555;
    margin: 10px 20px;
}

.review {
    padding: 10px 20px;
    font-size: 14px;
}

.review-stars-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px; /* Smaller bottom margin for tighter alignment */
    margin-top: -8px; /* Pull stars closer to the review text */
}

.review-stars {
    display: flex;
    color: #FFD700;
}

.review-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px; /* Reduced top margin for tighter spacing */
    font-size: 12px;
    color: #555555;
}

.ratings-options i {
    margin-right: 10px;
    color: #007BFF;
    cursor: pointer;
}

.nav-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #D9D9D9;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: #555555;
}

.nav-item i {
    font-size: 20px;
    margin-bottom: 5px;
}