body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #808080;
    /* Gray background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Footer */
footer {
    position: sticky;
    bottom: 0;
    background: #FFFFFF;
    border-top: 1px solid #DDD;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.footer-icon {
    width: 30px;
    height: 30px;
    background: white;
    margin-bottom: 5px;
}