.star {
  width: 20px;
  height: 20px;
  margin-right: 2px;
}

.ratings {
  display: flex;
  align-items: center;
}

.stars {
  display: flex;
}

.rating-score {
  margin-left: 10px;
  font-size: 14px;
  color: #000;
}