.footer-container {
    position: sticky;
    bottom: 0;
    background: #FFFFFF;
    border-top: 1px solid #DDD;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    z-index: 10;
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
}

.footer-icon {
    width: 30px;
    height: 30px;
    background: white;
    margin-bottom: 5px;
}

.footer-link.active div {
    font-weight: bold;
  }

a {
    text-decoration: none;
    color: inherit;
}