/* src/components/RatingReview.css */

.rating-review {
  display: flex;
  gap: 10px;
}

.star {
  cursor: pointer;
  font-size: 28px;
  transition: color 0.2s;
}

.star.filled {
  color: #003373;
}

.star.empty {
  color: #c0c0c0;
}